@import "../variables.css";

.description.component {
  /* Position and Layout */
  align-items: stretch;
  gap: 30px;

  /* Box Model */
  margin-bottom: 60px;

  @media (max-width: 1079px) {
    & {
      /* Position and Layout */
      flex-direction: column;
      align-items: center;
    }
  }
}
