@import "../variables.css";

.home.component {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;

  h1 {
    max-width: 400px;
    margin-bottom: 15px;
    color: var(--text-title);
    font-weight: var(--weight-bold);
  }

  h2 {
    max-width: 400px;
    color: var(--text-subtitle);
    font-weight: var(--weight-medium);
  }
}
