@import "../variables.css";

.projects {
  width: 100%;
  background-color: var(--primary-500);
  border-radius: 10px;
  padding: 90px 0px;

  margin-bottom: 60px;

  .row {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;
  }

  .row::-webkit-scrollbar {
    display: none;
  }
}
