@import "../variables.css";

.skills {
  height: 170px;

  .skills-container {
    position: relative;
    display: flex;
    user-select: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    /* Fondu gauche */
    .filter-left {
      position: absolute;
      left: 0;
      top: 0;
      width: calc(50% - 100px);
      height: 110px;
      pointer-events: none;
      z-index: 2;

      .solid-left {
        background: var(--background);
        width: 70px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }

      .fade-left {
        position: absolute;
        left: 70px;
        top: 0;
        width: calc(100% - 70px);
        height: 100%;
        background: linear-gradient(
          to right,
          var(--background) 0%,
          transparent 100%
        );
      }
    }
    /* Fondu droit */
    .filter-right {
      position: absolute;
      right: 0;
      top: 0;
      width: calc(50% - 100px);
      height: 110px;
      pointer-events: none;
      z-index: 2;

      .fade-right {
        position: absolute;
        right: 70px;
        top: 0;
        width: calc(100% - 70px);
        height: 100%;
        background: linear-gradient(
          to left,
          var(--background) 0%,
          transparent 100%
        );
      }

      .solid-right {
        background: var(--background);
        width: 70px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .scroll-content {
      display: flex;
      height: 110px;
      flex-shrink: 0;
      animation: move 25s linear infinite;
      overflow: visible;

      .icon-wrapper {
        position: relative;
        width: 110px;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 20px;

        .icon {
          max-height: 110px;
          max-width: 110px;
          object-fit: contain;
        }

        .tooltiptext {
          display: none;
          width: 120px;
          background-color: var(--grey-700);
          color: var(--text-title);
          text-align: center;
          padding: 5px 0;
          border-radius: 6px;
          bottom: 0;
          transform: translateY(30px);

          position: absolute;
        }

        &:hover .tooltiptext {
          display: block;
        }
      }
    }
  }
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
