@import "../variables.css";

.text {
  /* Position and Layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  /* Box Model */
  width: 100%;
  max-width: 257px;
  border-radius: 10px;
  padding: 60px 88px;

  /* Background */
  background-color: var(--white);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23678A6BFF' stroke-width='1' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

  .h3 {
    /* Box Model */
    width: 100%;
  }

  .medium {
    /* Box Model */
    width: 100%;

    /* Typography */
    text-align: justify;
  }

  @media (max-width: 767px) {
    /* Box Model */
    max-width: 240px;
    padding: 20px 30px;
  }
}
